# Student Name: 
# Enrollment Number: 
# Lab assignemnt number:

## Lab 3: Arithmetic Expressions, Operators

## Compulasory Questions

### 1 Write a program in Python that takes a length of one side of square (floating-point value) as input and prints the area and perimeter of the square.

In [ ]:
#write your code here

### 2	Write a program in Python to take input length and breadth of a rectangle (floating-point values) and print the area and perimeter of the rectangle.

In [ ]:
#write your code here

### 3 Write a program in Python which converts 8 hours and 32 minutes into seconds.

In [ ]:
hours=8
minutes=32
seconds= (hours*60*60)+(minutes*60)
print(seconds)

### 4 Write a program in Python which inputs time in hours and minutes and converts it into seconds.

In [ ]:
#write your code here

### 5	Write a program in Python to convert temperature in degrees Celcius to degrees Fahrenheit. The formula is F = (temp * 9/5) +32 . For temp=40 ᵒC, the output should be 104 ᵒF . Try for other different values of temp.

In [ ]:
temp_in_deg=float(input('temperature in ᵒC '))
#write your code here

print(temp_in_deg,'ᵒC = ',temp,'ᵒF')

### 6 Execute the following program in python to perform assignment operations and write comments on each line as per your understanding

In [ ]:
x=20
#x=x+1
x+=1
print(x)
#x=x-10
x-=10
print(x)
#x=x*4
x*=4
print(x)

### 7Execute the following program in python to perform assignment operations and write comments on each line as per your understanding.

In [ ]:
x=20
y=3
#x=x/y
x/=y
print(x)
#x=x%y
x%=y
print(x)
#x=x//y
x//=y
print(x)
x=6
y=4
#x=x&y
x&=y
print(x)
#x=x|y
x|=y
print(x)

### 8 Execute the following program in python to perform following relational operations and write comments on each line as per your understanding.

In [ ]:
x="happy"
y="had"
print(x<y)
print(x>y)
print(x==y)
print(x!=y)

### 9 Execute the following program in python to perform following relational operations and write comments on each line as per your understanding.

In [ ]:
print(1<2)
print(4>10)
print(6==8)
print(2>10)
print(6<8)
print(6>8)

### 10 Execute the following program in python to perform following logical AND OR NOT operations and write comments on each line as per your understanding.

In [ ]:
print(1<2 and 4>10)
print(6==8 or 2>10)
print(6<8 and 6>8)
print(not(1))
print(not(1==2))
print(not(4>7 and 7>8))
print(not(4>7 or 7>8))

### 11	Write a program in Python that inputs data (class, age, marks in mathematics, science) about two persons- Ram and Shyam. The program uses relational operators to check whether they study in same class? Are Ram Shyam of same age? Is Ram’s marks in mathematics more than Shyam? Is Ram’s marks in science less than Ram? The answer by the program is either True or False. The operators to be used are: <, >, ==, !=.

In [ ]:
R_class='XII'
S_class='XII'

R_age=18
S_age=19

R_math=80
S_math=90

R_sci=85
S_sci=92

print('Both are in same class ?',R_class==S_class)
#write your code here

### 12 Execute the following code and write comments on each line as per your understanding.

In [ ]:
x = True
y = False
print('x and y is',x and y) 
print('x or y is',x or y) 
print('not x is',not x)

### 13 Execute the code:

In [ ]:
x=12 
y=4 
# bitwise AND of 1100 and 0100 = 0100 i.e. 4
print(x&y) 
# bitwise OR of 1100 and 0100 = 1100 i.e. 12
print(x|y)
# bitwise XOR of 1100 and 0100 = 1000 i.e. 8
print(x^y)

### 13 Execute the code and write comments on each line as per your understanding.

In [ ]:
x = 'Hello world'
print('He' in x)    
print('h' not in x)   
string2='Believe in yourself'
# write code to check if sub-string'lie' is present in string2 or not

### 15 Write a program in Python to multiply and divide using bitwise shift operators. Observe the given example for n=8. Write code for n1=4 and execute.

if n=8 = (1000 in binary), n>>1 will give 100 i.e 4 after shifting bits by 1 place to right. 
                           n<<1 will give 10000 i.e. 16 after shifting bits by 1 place to left.

In [ ]:
n=8
print(n,'binary',format(n,'b'))
print(n,'* 2=',n<<1)
print(n,'/ 2=',n>>1)
n1=4
#write your code here

### 16	Write a program in Python to multiply and divide by multiple powers of two using bitwise shift operators. Observe the given example for n=8,k=3. Write code for m=4, k1=2 and execute.

Input
    n=8
    k=3
Output
    Value of 8 after multiplying by 2 3 times = 8*8=64
    Value of 8 after dividing by 2 3 times = 8/8=1

In [ ]:
n=8
k=3
#write your code here
n1= n<<k
print('Value of', n,'after multiplying by 2',k,'times =',n1)
#write your code here
n2=n>>k
print('Value of',n,'after dividing by 2',k,'times =',n2)

## Optional Questions

### 17	Write a program in python to convert from degree to radian and from radian to degree. Take input from user.

pi=22/7
radian = degree*(pi/180)
degree=(radian *180)/pi

In [ ]:
#write your code here for degree to radian

In [ ]:
#write your code here for radian to degree

### 18	Write a program in Python to convert number 13 into 79. Students may introduce one more variable and  use bitwise operators (such as AND, OR, XOR).

In [ ]:
a=13
b=79
out=a|b
print(out)

### 19 Write a program in python to calculate area of triangle when all three sides are given.

s=(a+b+c)/2
area =  √(s(s-a)(s-b)(s-c) )

In [ ]:
 #write your code here

### 20 Write a program in python to perform addition, subtraction, multiplication and division operations on complex numbers.

In [ ]:
import cmath
a=complex(20+5j)
b=complex(5+3j)
#write your code here