# Student Name: Tanvi Penumudy
# Enrollment Number: E18CSE187
# Lab assignment number: 8

## Nested Loops

### 1 Run the following program to see how many time outer and inner loop run.

In [0]:
inner=0
outer=0
for i in range(1,5):
    outer+=1
    for j in range(1,4):
        inner+=1
print(outer,inner)

4 12

### 2 Write a program in Python to print a square pattern using loop.
    * * * * *
    * * * * *
    * * * * *
    * * * * *
    * * * * *

In [5]:
#Write your code
char='* '
for i in range(5):
    print(char*5)

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

### 3 Print the following output using a Python program:
    5  4  3  2  1
    5  4  3  2  1    
    5  4  3  2  1
    5  4  3  2  1

In [11]:
#Write your code
for a in range(5):
    for b in range (5,0,-1):
        print(b," ",end='')
    print()#for printing in the next line it should be in the first loop and outside the second loop.

5  4  3  2  1
5  4  3  2  1
5  4  3  2  1
5  4  3  2  1
5  4  3  2  1

### 4 Write a program in Python to print following pattern using loop:
    * 
    * * 
    * * * 
    * * * * 
    * * * * *

In [14]:
#Write your code
for a in range(6):
    for b in range(a):
        print('*',end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

### 5 Write a program in Python to print following pattern using loop:
    * * * * * 
      * * * * 
        * * * 
          * * 
            *

In [15]:
#Write your code
for a in range(5,0,-1):
    for b in range(6-a,0,-1):
        print(" ",end=" ")
    for b in range(a):
        print('*',end=" ")
    print()

  * * * * *
    * * * *
      * * *
        * *
          *

### 6 Write a program in Python to print Floyd triangle for range entered by user.
For example: range=4

    1 
    2 3 
    4 5 6     
    7 8 9 10

In [17]:
#Write your code
x=int(input("Enter any range of your choice:"))
a=x
b=0
for x in range(1,a+1):
    for s in range(1,x+1):
        b=b+1
        print(b, end=" ")
    print()

Enter any range of your choice:8
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31 32 33 34 35 36

### 7 Write a program in Python to take 5 numbers from user and print their factors.

In [21]:
#Write your code
for i in range(5):
    n=int(input("Enter any number:"))
    for j in range(1,n):
        if(n%j==0):
            print('The factors are:',j)
    print()

Enter any number:12
The factors are: 1
The factors are: 2
The factors are: 3
The factors are: 4
The factors are: 6

Enter any number:24
The factors are: 1
The factors are: 2
The factors are: 3
The factors are: 4
The factors are: 6
The factors are: 8
The factors are: 12

Enter any number:30
The factors are: 1
The factors are: 2
The factors are: 3
The factors are: 5
The factors are: 6
The factors are: 10
The factors are: 15

Enter any number:29
The factors are: 1

Enter any number:2
The factors are: 1

### 8 Write a program in Python to print all prime numbers between 1 and 20.

In [25]:
#Write your code
import math
n1=1
n2=20
print("The list of Prime numbers between 1 to 20:")
for x in range(n1,n2+1):
    y= int(math.sqrt(x))+1
    for i in range(2,y):
        if(x%i==0):
            break
    else:
        print(x)

The list of Prime numbers between 1 to 20:
1
2
3
5
7
11
13
17
19

### 9 Write a program in Python to input multiple number till enter -1 and print the digits of an each integer number in reverse order. The program should also print the count of digits. For example, if n=235, digits are 5,3 and 2. The count is 3.

In [27]:
#Write your code
x=int(input("Enter any number of your choice:"))
while(x != -1):
    while(x != 0):
        print(x % 10)
        x =x // 10
    x=int(input('Number is:'))

Enter any number of your choice:234
4
3
2
Number is:123
3
2
1
Number is:678
8
7
6
Number is:890
0
9
8
Number is:234
4
3
2
Number is:-1

### 10 Print the following output using a Python program:
    1  2  3  4  5    
    1  2  3  4  5    
    1  2  3  4  5    
    1  2  3  4  5

In [28]:
#Write your code
print("The required sequence is:")
for a in range(5):
    for b in range(1,6):
        print(b , end=" ")
    print()

The required sequence is:
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

## Optional Questions

### 11 Write a program in Python to print tilted line of length entered by user:
For len=3. Output should look like:

    \
     \
      \

In [0]:
#Write your code

### 12 Write a program in Python to print following pattern using loop.

             *
           * *
         * * *
       * * * *
     * * * * *

In [29]:
#Write your code
for a in range(6):
    for b in range(7-a,0,-1):
        print(" ", end=" ")
    for b in range(a):
        
         print('*',end=" " )
    print()

            *
          * *
        * * *
      * * * *
    * * * * *

### 13 Write a program in Python to print following pattern using loop:
    * * * * *
    * * * *
    * * *    
    * *
    *

In [30]:
#Write your code
for a in range(5,0,-1):
    for b in range(a):
        print('*',end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

### 14 Write a program in Python to draw a pencil using loop.
       * 
      * * 
     * * * 
    | | | |
    | | | |
    | | | |
    | | | |
    | | | |
    | | | |

In [0]:
#Write your code


char='| '
for i in range(6):
    print(char*4)

### 15 Write a program in Python to print XYZ pattern using loop.

In [0]:
#Write your code