# Tuples

Tuples are similar to lists with important difference:

1. Tuples are immutable, meaning they cannot be changed in place or appended to.
2. We can apply slicing in same way as we apply on lists

### Syntax

tuplename=(list of comma seperated values)

#### Task 1: Run below code and make some changes to the code

In [0]:
# creating tuples
states=('Madhya Pradesh','Uttar Pradesh','Andhra Pradesh', 'Goa')

In [0]:
states=('Madhya Pradesh','Uttar Pradesh','Andhra Pradesh', 'Goa')
print(states)
print(states[0])
print(states[0:4])
print(states[3:])
print(states[-2])

('Madhya Pradesh', 'Uttar Pradesh', 'Andhra Pradesh', 'Goa')
Madhya Pradesh
('Madhya Pradesh', 'Uttar Pradesh', 'Andhra Pradesh', 'Goa')
('Goa',)
Andhra Pradesh

In [0]:
# following oprations are not allowed on tuples

states[3]='MP'

TypeError: 'tuple' object does not support item assignment

In [0]:
#Delete a tuple

numb=(1,3,5,7,9)
print(numb)
print("Deleting the entire tuple")
del numb
print(numb)

(1, 3, 5, 7, 9)
Deleting the entire tuple

NameError: name 'numb' is not defined

#### Program 1: Write a python program for following
- Uses the range() function to store all the odd numbers between m and n(inclusive) in a tuple, and print them out.
- Take the value of m (should be odd) and n (should be greater then m) from the user.

In [2]:
#Write your code here
n1 = int(input("Enter the first number:"))
n2 = int(input("Enter the second number:"))
tup = tuple(x for x in range(n1, n2+1, 2))
print(tup)

Enter the first number:3
Enter the second number:19
(3, 5, 7, 9, 11, 13, 15, 17, 19)

#### Program 2: Write a python program to make a list of the first ten even numbers using tuple comprehension and display the tuple using for loop.

In [5]:
#Write your code here
#tuple(tan for tan in range(2,20,2))

t = tuple(x for x in range(2, 21, 2))
for i in t:
    print(i)

2
4
6
8
10
12
14
16
18
20

#### Program 3: Write a python program to create a list of 10 random numbers and convert the list into tuple. Display the contents of both list and tuple.

In [0]:
#Write your code here
num=[]
for j in range(10):
    a=int(input("Enter 10 numbers:"))
    num.append(a)
    b=tuple(num)
print(b)
print(num)

Enter 10 numbers:1
Enter 10 numbers:2
Enter 10 numbers:3
Enter 10 numbers:4
Enter 10 numbers:5
Enter 10 numbers:6
Enter 10 numbers:7
Enter 10 numbers:8
Enter 10 numbers:9
Enter 10 numbers:10
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

##### Program 4: Write a python program for following 
- Create a tuple named "score" of 10 numbers. 
- Tuple might contain duplicate values. 
- Display the count of duplicate values for any given number using count function.
- score.count(n)
- For example, if the tuple contains (2,1,3,4,2) and we want to know how many times 2 has occured into the tuple, answer should be 2.

In [7]:
#Write your code here
#Score=(1,3,5,6,7,8,6,7,7,7,7)
#print(Score.count(7))

Score = (1,3,5,6,7,8,6,7,7,7,7,5,8,1,3)
for a in set(Score):
    print(a, " appears ", Score.count(a), " times")

1  appears  2  times
3  appears  2  times
5  appears  2  times
6  appears  2  times
7  appears  5  times
8  appears  2  times

#### Program 5: Write a Python program
- To get the 4th element and last 4th element of a tuple.
- To find the repeated items of a tuple.
- To check whether an element exists within a tuple.
- To slice a tuple.
- To find the index of an item of a tuple.

In [9]:
#Write your code here
asd=(2,3,4,5,6,7,8,3,4,5,6,7,8,1,1)
print(asd[4])
print(asd[-4])
for i in set(asd):
    if (asd.count(i) > 1):
        print(i, " appears ", asd.count(i), " times")
if (29 in asd):
    print("It is present")
else:
    print("It isn't present")
ind=asd.index(5)
print("The index is:",ind)
asf=asd[2:6]
print(asf)

6
7
1  appears  2  times
3  appears  2  times
4  appears  2  times
5  appears  2  times
6  appears  2  times
7  appears  2  times
8  appears  2  times
It isn't present
The index is: 3
(4, 5, 6, 7)

## Dictionary

#### Python dictionary is an unordered collection of items. While other compound data types have only value as an element, a dictionary has a key: value pair.

#### Dictionaries are optimized to retrieve values when the key is known.

## Creation of dictionary!

#### Creating a dictionary is as simple as placing items inside curly braces {} separated by comma.
#### An item has a key and the corresponding value expressed as a pair, key: value.

#### While values can be of any data type and can repeat, keys must be of immutable type (string, number or tuple with immutable elements) and must be unique

In [0]:
# empty dictionary
my_dict = {}

# dictionary with integer keys
my_dict = {1: 'yellow', 2: 'powderblue'}

print(my_dict)

# dictionary with mixed keys
my_dict = {'name': 'Shawn Mendes', 1: [2, 4, 3]}

print(my_dict)

# we can also create a dictionary using the built-in function dict()
# using dict()
my_dict = dict({1:'pig', 2:'duck'})

print(my_dict)

# from sequence having each item as a pair
my_dict = dict([(1,'yak'), (3,'turtle')])

print(my_dict)

{1: 'cat', 2: 'dog'}
{'name': 'Abraham', 1: [2, 4, 3]}
{1: 'pig', 2: 'duck'}
{1: 'yak', 3: 'turtle'}

### Accessing the Dictionary element

In [0]:
my_dict = {'name_1':'Justin Bieber', 'age': 28}

print(my_dict['name_1'])

# Using Get Function
print(my_dict.get('age'))

# Trying to access keys which doesn't exist throws error
my_dict.get('address')
my_dict['address']

Justin Bieber
28

KeyError: 'address'

### Update the dictionary Items
- Dictionary are mutable. We can add new items or change the value of existing items using assignment operator.
- If the key is already present, value gets updated, else a new key: value pair is added to the dictionary.

In [0]:
my_dict = {'name':'Jack Ryan', 'age': 78}

# update value
my_dict['age'] = 27

print(my_dict)

# add item
my_dict['address'] = 'Menlo park'  

print(my_dict)

{'name': 'Jack Ryan', 'age': 27}
{'name': 'Jack Ryan', 'age': 27, 'address': 'Menlo park'}

### Delection an elements from a dictionary!
- We can remove a particular item in a dictionary by using the method pop(). This method removes as item with the provided key and returns the value.
- The method, popitem() can be used to remove and return an arbitrary item (key, value) form the dictionary. All the items can be removed at once using the clear() method.
- We can also use the del keyword to remove individual items or the entire dictionary itself.

In [0]:
# create a dictionary
sq = {1:1, 2:4, 3:9, 4:16, 5:25}  

# remove a particular item
print(sq.pop(3))  

print(sq)

# remove an arbitrary item
print(sq.popitem())

print(sq)

# delete a particular item
del sq[1]  

print(sq)

# remove all items
sq.clear()

print(sq)

# delete the dictionary itself
del sq

print(sq)

9
{1: 1, 2: 4, 4: 16, 5: 25}
(5, 25)
{1: 1, 2: 4, 4: 16}
{2: 4, 4: 16}
{}

NameError: name 'sq' is not defined

## Implement FLAMES game

FlamesGame is a relationship calculating algorithm famous between the youngsters. At the time of graduation everyone might heard about this and many of them tried out this secretly. Some took this as very serious also. So what FLAMES stance for?
- F - Friendship
- L - Love
- A - Affection
- M - Marriage
- E - Enemy
- S - Sister (Sibling)

How we can calculate the FLAMES?
It is very easy to explain with some example:
Your name: asd
Partner name: abcd

Mainly two steps are there:
Get the flames count
Take the two names ('asd' and 'abcd')

Remove the common characters (two common characters 'a', 'd')

Get the count of the characters that are left (Removed a,d and the rest are s,b,c. So total 3.)

Get the flames result

We take FLAMES letters ('F', 'L', 'A', 'M', 'E', 'S')

And start removing letters using the flames count we got.

And the letter which last the process is the result.

In our example we got flames count = 3. So first we takes FLAMES.

FLAMES

Then we start count from left up to flames count 3. Then remove the letter which is in the position 3. In this case it is 'A'. So the letters become:

FLMES

Then we start count again from the letter which is removed ie, from 'M'. So the next character to remove is 'S'. So our letters become:

FLME

After next step:

FLE

Then:

FE

Last:

F

So the result is 'Friend'.

Input:

Input contains two lines

First line represents name 1

Second line represents name 2

Output:

A single word representing Friend/Love/Affection/Marriage/Enemy/Sister

In [14]:
#Write your code here
a = list("Tanvi")
b = list("Dhiraj")

for i in a:
    if (i in b):
        a.pop(a.index(i));
        b.pop(b.index(i));

l = int(len(''.join(b))  + len(''.join(a)))

f  = ['F','L','A','M','E', 'S']
last = 0

while (len(f) != 1):   
    try:
        last = last+l-1
        while (last > len(f)):
            last-=len(f)
        f.pop(last-1)
        #print(last)
    except:
        break
          
print(f)

['M']