# Python function 
#Name: Tanvi Penumudy
##Enrollment Number: E18CSE187
##Lab assignment Number: 11

## Every solution should be done with the help of functions.

Function is used for modularity in the program.

def function_name(argument-1, argument-2,argument-3...):
    function body
    .
    .
    .
    .
    .
    return var   
#function call
function_name(10,20,30)

## 1. Write a program to compute gcd of two user input numbers.

In [0]:
def gcd(a,b):
    if(b==0):
        return a
    else:
        return gcd(b,a%b)
a=int(input("Enter the first number:"))
b=int(input("Enter the second number:"))
GCD=gcd(a,b)
print("GCD is: ")
print(GCD)

Enter the first number:12
Enter the second number:4
GCD is:
4

##2.Write a program to take an integer from the user and return reverse of the number.
### (Example: I/P 123, O/P: 321)

In [0]:

def rev(num):
    rev=0
    
    while(num>0):
        dig=num%10
        rev=(rev*10)+dig
        num=num//10
    print("The reverse is",rev)
num=int(input("Enter your number:"))


rev(num)

Enter your number:2345
The reverse is 5432

## 3. Write a program in Python to print prime numbers between 25 and 100 using function.

In [0]:
def prime(a,b):
    for i in range(a,b+1):
        p=1
        for j in range(2,i):
            if(i%j==0):
                p=0
        if(p):
            print(i)
prime(25,100)

29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

## 4. Define a Python function pow1 that takes the values of two integers m and n from the user and calculate pow(m,n). Call this function with different values.
### Do not use exponent operator (**) or pow()

In [0]:
def power(m,n):
    value=m**n
    print("The required value is:",value)
power(3,2)

The required value is: 9

## 5. Write a Python program to find the factorial of a number using a recursive function.

In [0]:
def factorial(num):
    p=1
    for i in range(1,num+1):
        p*=i
    print("The factorial of the given number is:",p)
factorial(5)

The factorial of the given number is: 120

## 6. Design and develop a python function RightShift(x ,n) that takes two integers x and n as input and returns value of the integer x shifted to the right by n positions. Assume the integers are unsigned. 
### Write a Python program that invokes this function with multiple values for x and n and tabulate the results with suitable headings withour using right shift operator.

In [0]:
def rshift(x,n):
    y=x>>n
    print(y)
x=int(input("Enter value of x : "))
n=int(input("Enter value of n : "))
rshift(x,n)

Enter value of x : 6
Enter value of n : 2
1

## 7.  Write a program in python to find the sum of the series 1!/1+2!/2+3!/3+4!/4+5!/5 using the function.

In [0]:
def factorial_sum(num):
    p=1
    s=0
    for i in range(1,num+1):
        p*=i
        s+=p/i
        
    print("The sum of the required sequence is:",s)
factorial_sum(5)

The sum of the required sequence is: 34.0

## 8. Define a function to print nth term in Fibonacci series using recursion. Call this function with different values.

In [0]:
def fibo(num):
    
    n1=0
    n2=1
    num=int(input("Enter the number of terms  you wnat the sequence to be generated: "))
    print("Hence the fibonacci sequnece:")
    print(n1)
    print(n2)
    for i in range(num-2):
        n3=n1+n2
        n1=n2
        n2=n3
        print(n3)
    
fibo(6)

Enter the number of terms  you wnat the sequence to be generated: 4
Hence the fibonacci sequnece:
0
1
1
2

## 9. Define a python function to convert a decimal number to its equivalent octal number without using inbuilt functions. Call this function with different values.

In [0]:
var=int(input("Enter any number of your choice:"))
def dec_to_oct(dec):
    x=var%8
    y=var//8
    z=(y*10)+x
    print(z)
dec_to_oct(8)

Enter any number of your choice:246
306

## 10. Write a python function to Check whether a number can be expressed as the sum of two prime number. For example, 20 can be written as sum of 7 and 13. 29 cannot be written as sum of 2 prime numbers

In [1]:
def prime(x):
    global l
    l=[]
    for i in range(2,a):
        for j in range(2,i):
            if(i%j==0):
                break
            else: l.append(i)
a=int(input("Enter any number:"))
prime(a)
for i in range(len(l)):
    for j in range(len(l)):
        if(l[i]+l[j]==a):
            print(l[i],"+",l[j],"=",a)
            break
        else:
            break
    else:
        print(a,"is not a sum of prime")

Enter any number:6
3 + 3 = 6

# Optional Questions

## 11. Write two python function to Convert octal Number to decimal without using inbuilt functions.

## 12.  Write a program in Python to check whether two given strings are an anagram. 
### An anagram of a string is another string that contains same characters, only the order of characters can be different. For example, “abcd” and “dabc” are anagram of each other.

## 13. Write a python program that calculates the bill  for a customer purchase in a store. in this store the item_id range from 1 to 100. These items are organised in a way that the items with item_id less than 50 are on sale (10 %) and item_id range from 50-80 are on sale (25 %) and the rest items are on the sale of 40 %.
### Your program has a function call (saleprice) that receives the itme_id, and its price, and  it returns the current price after sale for current item, and it prints the number of items purchased so far.
### In your main, you should read item id and call saleprice function for each item. your program should continue to nread item_id till the end of purchase. entering 0 will indicate the end of purchase. At the end your program should print the total amount of bill.

## 14.We add a Leap Day on February 29, almost every four years. The leap day is an extra, or intercalary day and we add it to the shortest month of the year, February. 
## In the Gregorian calendar three criteria must be taken into account to identify leap years:

### The year can be evenly divided by 4, is a leap year, unless:
### The year can be evenly divided by 100, it is NOT a leap year, unless:
### The year is also evenly divisible by 400. Then it is a leap year.
### This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years.

## Sample Input
### 1990

## Sample Output
### False

## Sample Input
### 1600

## Sample Output
### True